@using BabyInABag.Models
@using System.Configuration
@model IEnumerable<Order>
@{
    ViewBag.Title = "CustomerOrders";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int i = 1;
}

<section class="section-first section-spacing">
    @if (Model.Count() == 0)
    {
        <h2>You haven't bought any of our products yet!</h2>
    }
    else
    {
        <h2>Take a look at what you've bought!</h2>
        <table>
            <th>Order Number</th>&nbsp;
            <th>Placed Date</th>&nbsp;
            <th>Products</th>&nbsp;
            <th>Total Price</th>&nbsp;
            <th>Status</th>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Order_Number</td>
                    <td>@item.Order_Date_Placed</td>
                    <td>@item.Products.Count()</td>
                    <td>@item.Order_Total</td>
                    <td>@item.Order_Status</td>
                </tr>

            }
        </table>
    }
</section>

<style>
    th{
        width:5%;
    }
</style>
