@model IEnumerable<BabyInABag.Models.Colors>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="main-contents">
    <!-- Panel -->
    <div class="main">
        <h2>Man</h2>

        <p>
            @Html.ActionLink("Create New", "Create")
        </p>
        <table class="w3-table" style="font-size:14px;">
            <tr style="border-bottom: 1px solid black; font-size:16px;">
                <th>
                    @Html.DisplayNameFor(model => model.Color_Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Color_HEX)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Color_Name)
                    </td>
                    <td>
                        <input type="color" value=@item.Color_HEX  disabled="disabled"/>
                        @*@Html.DisplayFor(modelItem => item.Color_HEX)*@
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Color_Id }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.Color_Id })
                    </td>
                </tr>
            }

        </table>
        </div>
</div>