@model BabyInABag.Models.ProductCategory

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div class="main-contents">
<!-- Panel -->
    <div class="main">

        <h2>Category Details</h2>

        <div>
            <font size="4">
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.Product_Category)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Product_Category)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Default_Price)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Default_Price)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Default_Image)
                    </dt>

                    <dd>
                        <img id="image1" src="~@Model.Default_Image" alt="~@Model.Default_Image">
                        @Html.DisplayFor(model => model.Default_Image)
                    </dd>



                </dl>
                </font>
        </div>
        <p>
            @Html.ActionLink("Edit", "Edit", new { id = Model.Product_Category_Id }) |
            @Html.ActionLink("Back to List", "Index")
        </p>

    </div>
  </div>